@keyframes pulse {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 320px) {
  .container {
    padding: 10px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 14px;
  }
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: pulse 1s ease-in-out infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

body {
  background-color: #f108ac;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

h1 {
  color: #e91e63;
}

p {
  margin-bottom: 10px;
}
